<ul>
    <% products.forEach((product) => { %>
        <li>
            <%= product.name %> - <%= product.price %>
            <a href="/products/<%=product._id %>">View details</a>
        </li>
    <% }) %>
</ul>